body{
    font-family: Arial;
    font-size: 1rem;
    line-height: 1.5;

  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.2;
    color: rgb(206, 139, 25);
    font-family: Lucida Sans;
  }
  .header{
    display: flex;
    flex-direction: column;
  }
  .logo{
    float: left;
    width:  100px;
    height: 100px;

  }
  .title{
    text-align: center;
    font-family: cursive;
  }
  .main_menu{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    flex-wrap: wrap;
  }
  .main_menu_item:hover{
    color: rgb(102, 146, 27);
  }
  .home_article{
    display: flex;
    justify-content: center;
  }
  .home_photo{
    width: 100%;
    height: auto;
}
  .services {
    background-color: rgb(236, 208, 157);
    margin: 10px;
    padding: 20px;
    }
.list_services{
    display: flex;
    flex-direction: column;
    gap: 150px;

}    
.service_photo{
    float: left;
    width: 90%;
    height: auto;
}

